{% extends "base.html" %}
{% block content %}

    <!-- Display the navigation/toolbar at the top. -->
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h1>
          <span>Your files</span>
        </h1>
        <span flex></span>
      </div>
    </md-toolbar>

    <div ng-controller="uploadController as uc">
        <h1>Upload Files</h1>
        <form name="fileUpload">
            <lf-ng-md-file-input name="file" lf-api="uc.fileInputAPI" lf-totalsize="16MB" lf-files="uc.files" drag progress></lf-ng-md-file-input>
            <md-button ng-click="uc.onSubmit()">Submit</md-button>
        </form>
    </div>
{% endblock %}
